Repository MIT-PSFC/disruption-py, pull requests merged in 2025-04, with the labels that each got.

#430 Drop scikit learn
  poetry.lock
  pyproject.toml
  uv.lock
Labels: dependencies

#435 Update deps to Mar 2025
  poetry.lock
  pyproject.toml
  uv.lock
Labels: dependencies

#416 Improve CMOD ohmic power computation
  disruption_py/core/utils/math.py
  disruption_py/machine/cmod/config.toml
  disruption_py/machine/cmod/physics.py
  disruption_py/machine/east/physics.py
Labels: machine: C-MOD

#424 Improve docstring of DIII-D physics methods
  disruption_py/machine/d3d/physics.py
Labels: documentation, machine: DIII-D

#448 Change author order
  pyproject.toml
Labels: documentation

#450 Refactor get_shape_parameters for DIII-D
  disruption_py/machine/d3d/physics.py
Labels: machine: DIII-D
