Repository MIT-PSFC/disruption-py, pull requests merged in 2025-02, with the labels that each got.

#385 Support PEP 621 and uv
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
  uv.lock
Labels: dependencies

#399 Remove dipprog_dt_rt from DIII-D XFAIL column
  disruption_py/machine/d3d/config.toml
Labels: machine: DIII-D

#402 Improve C-MOD Te width computation
  disruption_py/core/utils/math.py
  disruption_py/machine/cmod/physics.py
Labels: machine: C-MOD

#393 Add EAST physics methods
  README.md
  disruption_py/core/utils/math.py
  disruption_py/inout/sql.py
  disruption_py/machine/east/__init__.py
  disruption_py/machine/east/config.toml
  disruption_py/machine/east/efit.py
  disruption_py/machine/east/physics.py
  disruption_py/machine/east/util.py
  disruption_py/machine/method_holders.py
  disruption_py/machine/tokamak.py
  disruption_py/settings/domain_setting.py
  disruption_py/settings/nickname_setting.py
  disruption_py/settings/time_setting.py
  examples/efit.py
  tests/test_output_setting.py
  tests/test_retrieval_settings.py
Labels: machine: EAST
