Repository MIT-PSFC/disruption-py, pull requests merged in 2025-09, with the labels that each got.

#469 Update deps to Aug 2025
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
  uv.lock
Labels: dependencies

#460 Refactor C-MOD get_n_equal_1_amplitude
  disruption_py/machine/cmod/physics.py
Labels: enhancement, machine: C-MOD

#466 Fix C-MOD te_width_ece unphysical values
  disruption_py/machine/cmod/physics.py
Labels: bug, machine: C-MOD

#475 Update deps to Sep 2025
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
  uv.lock
Labels: dependencies
